<div class="main" id="detail">
 <div class="info">
   <div class="flex">
   <img src="#">
   	<p>
   	<%= @post.title %>
   	</p>
   </div>
   <div class="flex">
   <p>
    著者:<%= @post.author %>
   </p>
   <p>
    概要:<%= @post.content %>
   </p>
   	<p>タグ</p>
   </div>
 </div>
 <p class="back">
 <%= link_to("前のページへ", "/posts/result")%>
 </p>

 <% if @post.user_id == @current_user.id %>
 <div class="post-menus">
   <%= link_to("編集", "/posts/#{@post.id}/edit") %>
   <%= link_to("削除", "/posts/#{@post.id}/destroy",{method:"post"}) %>
  </div>
 <% end %>
</div>